*{
    background-color: pink;
    text-align: center;

}

img {
    
    align-content: center;
    width: 400px;
    image-resolution: 1800px;
}

nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

p:hover, h1:hover, a:hover {
    background-color: yellow;
  }

/* unvisited link */
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }
  


header{
    font: optional;
    display: 12332em;
    font-family: 'Times New Roman', Times, serif;
    shape-margin: 100%;
    font-size: 30px;

}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
}


p.text3 {
    font-size: 48px;
}