

div.first {
    background-color: lightgrey;
    width: 2000px;
    height: 750px;
    
  }


  div.span {
    background-color: rgb(119, 118, 118);
    width: 2000px;
    height: 600px;
    display: block;
    
  }



  img.circles{
    width: 2000px;
    height: 750px;
    

  }

  img.desk {

    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 10px;
    padding: 30px;
    margin: 30px;

  }


  img.person {

    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 10px;
    padding: 30px;
    margin: 30px;

  }

  img.graphic {

    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 10px;
    padding: 30px;
    margin: 30px;
    

  }
